<div class="student-list" id="student-list">
  <div class="list-header">
    <h2 class="header-title">Liste des Etudiants</h2>

    @if (openAjouter) {
      <button
        type="button"
        class="btn btn-danger btn-add open-btn"
        (click)="closeModal()"
      >
        Fermer
      </button>
    } @else {
      <button
        type="button"
        class="btn btn-success btn-add open-btn"
        (click)="ajoutEtudiant()"
      >
        Ajout Etudiants
      </button>
    }
  </div>

  @if (openAjouter) {
    <div class="form-add-student">
      <form (submit)="saveData(student)" class="form">
        <h2 class="add-title">{{ add }}</h2>
        <!-- -----------------matricule--------------- -->
        <div class="form-add-section">
          <label for="matricule">Matricule :</label>
          <input
            disabled
            type="text"
            name="matricule"
            placeholder="matricule"
            [(ngModel)]="student.matricule"
          />
        </div>

        <div class="form-add-section">
          <!-- -----------------nom--------------- -->
          <label for="nom">Nom :</label>
          <input
            type="text"
            name="nom"
            placeholder="ex: RAFIMAHALEO, RAKOTOSOA, ect..."
            [(ngModel)]="student.nom"
          />
        </div>
        <div class="form-add-section">
          <!-- -----------------prenom--------------- -->
          <label for="prenom">Prénom :</label>
          <input
            type="text"
            name="prenoms"
            placeholder="ex : Maria, Yandry, ect..."
            [(ngModel)]="student.prenoms"
          />
        </div>
        <div class="form-add-section">
          <!-- -----------------parcour--------------- -->
          <label for="parcour">Parcours :</label>
          <select name="parcour" id="parcour" [(ngModel)]="student.parcour">
            @for (parcour of parcours; track $index) {
              <option value="{{ parcour }}">{{ parcour }}</option>
            }
          </select>
        </div>
        <div class="form-add-section">
          <!-- -----------------niveau--------------- -->
          <label for="niveau">Niveau :</label>
          <select name="niveau" id="niveau" [(ngModel)]="student.niveau">
            @for (item of niveaux; track $index) {
              <option value="{{ item }}">{{ item }}</option>
            }
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-add">valider</button>
      </form>
    </div>
  }

  <table class="section-table">
    <thead class="table-heading">
      <tr class="heading">
        <th>Matricule</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Niveau</th>
        <th>Parcours</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="table-body">
      @for (item of data; track $index) {
        <tr class="data">
          <td>
            {{ item.matricule }}
          </td>
          <td>
            {{ item.nom }}
          </td>
          <td>
            {{ item.prenoms }}
          </td>
          <td>
            {{ item.niveau }}
          </td>
          <td>
            {{ item.parcour }}
          </td>
          <td class="data-control">
            <button class="btn btn-success" (click)="modifData(item)">
              <i class="fa-solid fa-pencil"></i>
            </button>

            <button class="btn btn-danger" (click)="deleteData(item)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
