<footer class="footer-distributed">
  <div class="footer-left">
    <h3>Contact</h3>

    <p class="footer-name">elvestino © 2024</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p>Andrainjato</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>034 56 517 31 / 032 99 628 67</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-about">Réseaux Sociaux</p>
    <p>Voici les plateformes pouvant me contacter</p>
    <div class="footer-icons">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-github"></i></a>
    </div>
  </div>
</footer>
