.footer-distributed{
  top: 0;
  bottom: 0;
  background-color: var(--primary);
  width: 100%;
  .footer-left{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    .footer-name{
      color: var(--secondary);
      font-size: 20px;
      font-weight: normal;
      margin-top: 70px;
    }
    .footer-contact{
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 100px;
        height: 4px;
        background-color: #ffffff ;
        bottom: -10px;
        left: 5px;
      }
    }
  }
    .footer-center,
    .footer-right{
    @extend .footer-left;
  }
  .footer-right{
    width: 20%;
    .footer-about{
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 100px;
        height: 4px;
        background-color: #ffffff ;
        bottom: -13px;
        left: 50px;
      }
    }
  }
  .footer-about{
    line-height: 20px;
    color:  #ffffff;
    font-size: 23px;
    font-weight: bold;
    margin: 20px;
  }
  .footer-icons{
    a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      color: #ffffff;;
      border-radius: 10px;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
      margin-right: 20px;
    }

  }
  .footer-center{
  .test{
    font-size: 17px;
    display: flex;
    gap: 10px;
    padding-top: 25px;
  }
    width: 35%;
    margin: 10px 0;
    p{
      display: inline-block;
      color: #ffffff;
      font-weight:400;
      vertical-align: middle;
      margin:0;
    }

    i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
    }
  }
  h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }
  i{
    background-color:  rgba(0, 0, 0, 0.219);
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
   line-height: 42px;
  }
}


@media screen and (width < 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed{
    .footer-left, .footer-center, .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer-center i{
      margin-left: 0;
    }
  }
}
