<nav class="header-component-style">
  <!-- Brand/logo -->
  <a class="header-component-logo" href="#" aria-label="logo">
    <img
      src="../../../assets/image/logo_7e9a47c268.png"
      width="100px"
      height="50px"
      alt="25em anniv"
    />
  </a>

  <!-- Links -->
  <div class="header-component-link">
    <a class="link" href="#main"><i class="fa-solid fa-house"></i> Acceuil</a>
    <a class="link" href="#formation-list"
      ><i class="fa-solid fa-school"></i> Formation</a
    >
    <a class="link" href="#student-list"
      ><i class="fa-solid fa-list"></i> Liste</a
    >
    <a class="link" href="#contact">
      <i class="fa-solid fa-address-book"></i> Contact</a
    >
  </div>
</nav>
