<nav class="header-component-style">
  <!-- Brand/logo -->
  <a class="header-component-logo" href="#">
    <img
      src="../../../assets/image/logo_7e9a47c268.png"
      width="100px"
      height="50px"
    />
  </a>

  <!-- Links -->
  <ul class="header-component-link">
    <a class="link active" href="../../app.component.html"> Home </a>
    <a class="link" href="../../pages/formation/formation.component.html"
      >Formation</a
    >
    <a class="link" href="../../pages/student/student.component.html">List</a>
    <a class="link" href="../../pages/contact/contact.component.html"
      >Contact</a
    >
  </ul>
</nav>
