$debug: false;

@if ($debug) {
  * {
    border: 2px solid green;
  }
}
@mixin linear-gradient($direction, $color1, $color2) {
  background: linear-gradient($direction, $color1, $color2);
}
.main-app {
  background-size: cover;
  background-image: url(../assets/image/background1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 10% 4%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  .app-heading-text {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    .span-welcome {
      color: red;
    }

    .main-app-welcome {
      text-transform: uppercase;
      font-size: 40px;
      font-weight: bold;
      line-height: calc(40px * 1.2);

      opacity: 0;
      animation: up-animation 0.3s 0.3s forwards;
    }
    .text {
      color: red;
    }
    .span-welcome {
      @extend .main-app-welcome;
      margin-bottom: 30px;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 150px;
        height: 4px;
        background-color: #ffffff;
        bottom: -5px;
        left: 0;
      }
    }
    .app-component-text {
      color: #ffffff;
      margin-top: 20px;
      font-size: 16px;
      line-height: calc(16px * 1.4);
      opacity: 0;
      animation: up-animation 0.3s 0.5s forwards;
    }
    .btn-more {
      max-width: 180px;
      border: 0;
      outline: 0;
      background: var(--primary);
      padding: 16px 20px;
      border-radius: 5px;
      color: #ffffff;
      font-weight: bold;
      font-size: 16px;
      margin-top: calc(20px * 3);
      opacity: 0;
      animation: up-animation 0.3s 0.7s forwards;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        filter: brightness(1.2);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}

// --------------------animation and responsive-----------------

@keyframes up-animation {
  from {
    opacity: 0;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(40px);
  }
}
@media screen and (width < 768px) {
  .main-app {
    padding: 30% 4%;
    .app-heading-text {
      .span-welcome {
        &::after {
          position: absolute;
          content: "";
          width: 115px;
          height: 4px;
          background-color: #ffffff;
          bottom: -5px;
          left: 0;
        }
      }
      .main-app-welcome {
        font-size: 30px;
        line-height: calc(30px * 1.2);
      }
      .app-component-text {
        margin-right: 60px;
        color: #ffffff;
        font-size: 14px;
      }
    }
  }
}
