<!-- ---------------------header------------------- -->
<app-header></app-header>

<main class="main-app" id="main">
  <div class="app-heading-text">
    <span class="span-welcome">Bienvenue </span>
    <h1 class="main-app-welcome">
      EMIT:
      <span class="span-emit"
        ><span class="text">E</span>cole de <span class="text">M</span>anagement
        et d'<span class="text">I</span>nnovation
        <span class="text">T</span>echnologique</span
      >
    </h1>
    <p class="app-component-text">
      L'EMIT est une grande ecole publique au sein de l'universite de
      Fianarantsoa, qui a bascule totalement vers le systeme LMD. Elle se situe
      au coeur de l"universite de Fianarantsoa, a 3km de la gare routiere sur la
      route qui mene vers Masoabe.
    </p>

    <button class="btn-more" type="button" (click)="VersEmit()">
      En savoir plus
    </button>
  </div>
</main>
<!-- ---------------------formation------------------- -->
<section>
  <app-formation></app-formation>
</section>

<section>
  <router-outlet></router-outlet>
</section>

<!-- ---------------------footer------------------- -->
<app-footer></app-footer>
