<div class="formation-heading">
  <!-- ---------------------informatique------------------- -->
  <section class="formation-text DA2I">
    <div class="formation-body">
      <h3 class="formation-title">
        <span class="formation-parcour">DA2I </span>: Developpement
        d'Application Internet Intranet
      </h3>
      <p class="formation-description">
        Cette formation s'appuie sur l' administration des bases de données,
        l'administration des réseaux et systèmes informatiques et le
        développement d’application client-serveur .
      </p>
      <button class="btn-more" type="button" (click)="VersInformatique()">
        Voir plus
      </button>
    </div>
  </section>
  <!-- ---------------------management------------------- -->
  <section class="formation-text AES">
    <div class="formation-body">
      <h3 class="formation-title">
        <span class="formation-parcour">AES</span> : Administration Economique
        et Sociale
      </h3>
      <p class="formation-description">
        L'intérêt de cette formation est qu'elle donne aux étudiants la capacité
        de créer et de diriger une Entreprise ou un projet, de gérer des
        Resources Humaines. Mais aussi, être capable d'assister le Directeur
        général, le Directeur des Ressources humaines et le Directeur
        administratif et financier.
      </p>
      <button class="btn-more" type="button" (click)="VersManagement()">
        Voir plus
      </button>
    </div>
  </section>
  <!-- ---------------------multimedia------------------- -->
  <section class="formation-text RPM">
    <div class="formation-body">
      <h3 class="formation-title">
        <span class="formation-parcour">RPM </span>: Relation Publique et
        Multimedia
      </h3>
      <p class="formation-description">
        Le secteur de la communication multimédia est un secteur extrêmement
        varié et concurrentiel. Cette formation s'appuie par exemple, sur la
        recherche et traitement d’information avant la mise en publication (dans
        un site web, radio, télévision).
      </p>
      <button class="btn-more" type="button" (click)="VersMultimedia()">
        Voir plus
      </button>
    </div>
  </section>
</div>
